{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <a href="{% url 'task_add' %}">Добавить</a>
{% endblock %}
{% block content %}
    {% include 'partial/search.html' %}
    <h1>Основная страница</h1>
    {% for task in tasks %}
        <div class="blocks">
            <h2>Описание: {{ task.description }}</h2>
            <h2>Подробно: {{ task.detailed_description }}</h2>
            <h2>Проект: {{ task.project.title }}</h2>
            <h2>{{ task.created_at }}</h2>
            <p>
                <a href="{% url 'task_detail' task.pk %}">Подробнее о задании..</a>
            </p>
        </div>
    {% empty %}
            <p class="NOT_FOUND">Tasks not found!</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
</body>
</html>