{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block menu %}
    <a href="{% url 'project_add' %}">Добавить</a>
{% endblock %}
{% block content %}
    <h1>Основная страница проекта</h1>
    {% include 'partial/search.html' %}
    {% for project in projects %}
        <div class="blocks">
            <h2>Описание: {{ project.title }}</h2>
            <h2>Подробно: {{ project.description }}</h2>
            <p>
                <a href="{% url 'project_detail' project.pk %}">Подробнее о проекте..</a>
            </p>
        </div>
    {% empty %}
            <p class="NOT_FOUND">Projects not found!</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
</body>
</html>