{% extends 'base.html' %}
{% block title %}Задача{% endblock %}
{% block menu %}
    <a href="{% url 'task_add' %}">Добавить</a>
    <a href="{% url 'task_update' task.pk%}">Обновить</a>
    <a href="{% url 'task_delete' task.pk%}">Удалить</a>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Задача</h1>
        <p>Описание: {{ task.description }}</p>
        <p>Подробно: {{ task.detailed_description }}</p>
        <p>Тип: {% for type in task.type.all %} {{ type }} {% if not forloop.last %}, {% endif %} {% endfor %}</p>
        <p>Статус: {{ task.status }}</p>
        <p>Проект: {{ task.project }}</p>
    </div>
{% endblock %}
